html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.site-container {
    max-width: 1200px;
}

body {
    margin: 0;
    padding: 0;
    background: #050505 url(../img/img01.jpg) repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #5b5b5b;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    color: #222222;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 2.8em;
}

h3 {
    font-size: 1.6em;
}

p,
ul {
    margin-top: 0;
    line-height: 180%;
}

a {
    color: #5e5e5e;
}

#wrapper {
    background: #ffffff url(../img/img05.jpg) repeat;
}

.container {
    margin: 0 auto;
}

.group::after {
    content: '';
    clear: both;
    display: block;
}

/* Header */
#header-wrapper {
    overflow: hidden;
}

#header {
    margin: 0 auto;
    padding: 0;
}

/* Logo */
#logo {
    padding: 0;
    color: #ffffff;
}

#logo h1 {
    letter-spacing: -2px;
    font-size: 3.8em;
}

#logo h1 a {
    display: block;
    color: #1f1f1f;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    text-decoration: none;
    text-align: center;
}

/* Menu */
#menu {
    margin: 0 auto;
    padding: 0;
}

#menu ul {
    margin: 0;
    padding: 2% 0;
    list-style: none;
    line-height: normal;
}

#menu a {
    display: block;
    padding: 0.8rem;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    color: #1f1f1f;
    border: none;
}

#menu a:hover,
#menu .current_page_item a {
    background: url(../img/img01.jpg) repeat;
    text-decoration: none;
    color: #ffffff;
}

img {
    width: 100%;
    display: block;
}

@media (min-width: 550px) {

    nav {
        width: 95%;
        margin: auto;
    }

    nav li {
        width: 20%;
        margin: auto;
        display: inline-block;
    }
}

@media (min-width: 1000px) {

    #header {
        padding: 2rem;
    }

    #logo {
        display: inline-block;
        width: 30%;
    }

    #logo h1 a {
        display: inline-block;
    }

    nav {
        width: 70%;
        float: right;
        text-align: right;
    }

    nav li {
        width: calc(70% / 5);
        margin: auto;
        display: inline-block;
    }
}

/* Page */
#page {
    margin: 0 auto;
}

/* Content */
#content {
    padding: 0;
}

.post {
    padding: 1% 6% 1% 4%;
    overflow: hidden;
    border-bottom: 1px solid #e7ebed;
}

.post .title {
    padding: 1rem 0 0 0;
    letter-spacing: -1px;
}

.post .title a {
    border: none;
    text-decoration: none;
    color: #222222;
}

.post .meta {
    margin: 0;
    padding: 0 0 1rem 0;
    text-align: left;
    font-family: 'Abel', sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
}

.posted {
    display: block;
}

.post .entry {
    clear: both;
    padding: 0 0 2rem;
    text-align: justify;
}

.links {
    padding-top: 0.5rem;
    font-size: 1.1rem;
}

.more {
    display: block;
    width: 9rem;
    padding: 0.5rem 0.2rem;
    margin: 0 0 1rem;
    background: #222222;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

.comments {
    display: block;
    width: 9rem;
    padding: 0.5rem 0.2rem;
    margin: 1rem 0 0;
    background: #222222;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

@media (min-width: 425px) {

    .posted {
        float: right;
    }
}

@media (min-width: 900px) {

    #content {
        float: right;
        margin-left: 1.5rem;
        width: calc(100% / 3 * 2);
    }

    #sidebar {
        float: left;
        width: calc(100% / 3 - 1.5rem);
        padding-top: 2rem;
    }

    #footer {
        clear: both;
    }
}

/* Sidebar */
#sidebar {
    margin: 0;
    padding: 2.4rem 0 0;
}

#sidebar ul {
    margin: 0;
    padding: 0 4%;
    list-style: none;
}

#sidebar li {
    margin: 0;
    padding: 0;
}

#sidebar li ul {
    margin: 0 0;
    padding-bottom: 30px;
}

#sidebar li li {
    line-height: 40px;
    border-bottom: 1px solid #e7ebed;
    margin: 0;
    border-left: none;
}

#sidebar li li span {
    display: block;
    margin-top: -20px;
    padding: 0;
    font-size: 11px;
    font-style: italic;
}

#sidebar li li a {
    padding: 0 0 0 20px;
    background: url(../img/img04.jpg) no-repeat left 50%;
}

#sidebar h2 {
    height: 38px;
    padding: 0 0 30px;
    letter-spacing: -0.5px;
    font-size: 1.8em;
    color: #222222;
}

#sidebar p {
    margin: 0;
    padding: 0 30px 20px 30px;
    text-align: justify;
}

#sidebar a {
    border: none;
}

#sidebar a:hover {
    text-decoration: underline;
}

/* Footer */
#footer {
    margin: 0 auto;
    padding: 5% 2% 4%;
    font-family: 'Abel', sans-serif;
}

#footer p {
    margin: 0;
    letter-spacing: 1px;
    line-height: normal;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-align: center;
    color: #5e5e5e;
}

#footer a {
    color: #5e5e5e;
}

#banner {
    margin: 0 auto;
    width: 100%;
    height: auto;
}
